/** Stylus Styles */

$theme := {
  primary: #526488
  accent: #ce93d8
  secondary: #505050
  info: #9c27b0
  warning: #ff9800
  error: #B71C1C
  success: #2E7D32
}

// Available variables https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl

@import '../../node_modules/vuetify/src/stylus/main'
